.header{
    background-color: white;
    height: 75px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header_active{
    background-color: rgba(255,255,255,0.7);
    height: 75px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo{
    width:75px;
    height:75px;
    margin-left:10px;
}

.menu{
    font-family: "Anonymous Pro";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    margin: auto;
    height: 100%;
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.menu-item{
    text-decoration: none;
    color: #483d8a;
    margin: auto;
}

.menu-item:hover span{
    text-shadow: 0 0 1px #000;
    transition: all 0.3s ease-in-out;
}

.login{
    margin: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.login-logbtn, .login-regbtn{
    font-family: "Anonymous Pro";
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    height: 30px;
    width: 120px;
    margin: auto;
    cursor: pointer;
}

.login-logbtn{
    border-color: rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    color: #483d8a;
}

.login-logbtn:hover{
    border: solid transparent;
    border-radius: 3px;
    background-color: #483d8a;
    color: white;
    transition: all 0.3s ease-in-out;
}

.login-regbtn{
    border: solid transparent;
    border-radius: 3px;
    background-color: #483d8a;
    color: white;
}

.login-regbtn:hover{
    border-color: rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    color: #483d8a;
    transition: all 0.3s ease-in-out;
}

.main{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-top: 50px;
}

.slider {
    margin: auto;
    display: flex;
    height: 90%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    
}

.slider::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.card {
    min-width: 100%;
    margin: auto;
    height: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat center;
    background-size: cover;
    background-position:center;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.card1{
    background-image: url("img/kuromi4.png");
}

.card2{
    background-image: url("img/kuromi2.jpg");
}

.card3{
    background-image: url("img/kuromi1.jpg");
}

.lastProduct{
    width: 100%;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #483d8a;
    border-radius: 10px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-box, .login-modal-box{
    top: 40%;
    opacity: 0;
    visibility: hidden;
    background: white;
    height: auto;
    width: 480px;
    margin-top:140px;
    padding: 18px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
  }
  
  .login-regbtn.show-modal{
    opacity: 0;
    visibility: hidden;
  }
  .modal-box.show-modal, .login-modal-box.show-modal{
    height: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 999;
    position: fixed;
    visibility: visible;
    transition: .4s;
  }

  .login-modal-box.show-modal{
    height: 50%;
  }

  .modal-box .fa-times .fa-times-img, .login-modal-box .login-fa-times .fa-times-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin: 10px;
  
    color: white;
    font-size: 18px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
  }

  .fa-times:hover, .login-fa-times:hover{
    font-size: 22px;
  }
  
  
  .form_container, .login_container{
    background: #fff;
    padding: 30px;
    margin-top: 20px;
    border-radius: 3px;
  }

  .visibilityHidden{
    visibility: hidden;
  }

  .success-registration, .fail-registration{
    margin-top: 30px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .success-registration-text, .fail-registration-text, .fail-registration-text-desc{
    font-family: "Anonymous Pro";
    font-size: 24px;
    font-weight: 700;
    color: #483d8a;
    text-align: center;
    margin-top: 50px;
  }

  .fail-registration-text-desc{
    font-size: 18px;
  }

  .success-registration-img, .fail-registration-img{
    width: 50%;
  }
  
  .form_container .form_item, .login_container .form_item{
    margin-bottom: 25px;
  }
  
  .form_container .form_wrap.form_grp, .login_container.form_wrap.form_grp{
    display: flex;
  }
  
  .form_container .form_wrap.form_grp .form_item, .login_container.form_wrap.form_grp .form_item{
    width: 50%;
  }
  
  .form_container .form_wrap.form_grp .form_item:first-child, .login_container.form_wrap.form_grp .form_item:first-child{
    margin-right: 4%;
  }
  
  .form_container .form_item label, .login_container.form_item label{
    display: block;
    margin-bottom: 5px;
  }
  
  .form_container .form_item input,
  .form_container .form_item select,
  .login_container .form_item input,
  .login_container .form_item select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
  }
   
  .form_container .btn input[type="submit"], .login_container .btn input[type="submit"]{
    background: #483d8a;
    border: 1px solid #483d8a;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
  }